.home-page{
    // text-align: center;
    .home-body{
        background: url('../../../assets/img/Best-Agricultural-Apps.jpg') no-repeat;
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
}